---
# this is an empty front matter
---
{% include header.html %}

                <h2>Shop & More</h2>
                <hr />

                Come look through my beautiful work and find something to come home with you.  
                <br/>
                <br/> You can find beautiful hand made originals and prints here on my etsy shop <a href="https://www.etsy.com/shop/LauraGarabedian">here</a>.  
                If you see a piece that speaks to you, move quickly.  Many of the pieces here are one of a kind.
                <br/>
                <br/> My work is also available on a wide variety of merch.  To get your favorite piece on mugs, phone cases, tote bags or clothing visit my 
                redbubble <a href="https://www.redbubble.com/people/lauragarabedian/">here</a>.
                <br/>
                <br/>
                And if you've seen a work of art somewhere on this site can't find it on either of these shops, please 
                don't hesitate to <a href="/contact">reach out to me.</a>
                <br/>
                <br/>
{% include footer.html %}
