---
# this is an empty front matter
---
{% include header.html %}

                <h2>Contact</h2>
                <hr />
                <div class="row">
                    <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum nisi in hendrerit placerat. Suspendisse pharetra, lacus in luctus blandit, ante neque dapibus nisi, sollicitudin scelerisque velit augue non nunc. Pellentesque sagittis eros lacus, at pulvinar lectus commodo et. Duis dolor leo, imperdiet ac mi quis, sollicitudin laoreet quam. Curabitur sagittis aliquam vehicula. In eleifend lobortis nisl porttitor laoreet. Nunc magna libero, faucibus ac lectus vitae, molestie interdum dolor. 
                    </div>
                </div>

                <div class="row contactbox">
                    <div class="col">
                        <form action="https://formspree.io/stuart.alan.small@gmail.com" method="POST">
                            <div class="form-group">
                                    <label for="exampleInputPassword1">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input type="email" class="form-control" name="_replyto" id="email" >
                            </div>
                            <div class="form-group">
                                <label for="message">Message:</label>
                                <textarea type="text" class="form-control" id="message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
{% include footer.html %}
