<!doctype html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-13049001-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-13049001-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

    <title>Fantasy and Creature Art | Laura Garabedian</title>
</head>

<body class="bg-light d-flex flex-column">
    <script src="/static/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/masonry.pkgd.min.js"></script>
    <script src="/static/site.js"></script>
    
    <a href="http://eepurl.com/dFTmHP">
    <div class="banner">
        Get Notified when new creatures fly, when event are coming, or if I have sales - Sign up for my newsletter here
    </div></a>
    {% include navbar.html %}
    <div class="container-fluid hidden">
        <div class="d-flex">
            {% include sidebar.html %}

            <div id="main-doc" class="col-12 main-doc main-doc-padding">