<nav id="topnav" class="d-md-none navbar navbar-expand-md navbar-light bg-light">
    <div class="d-flex flex-row justify-content-between" style="width: 100%;">
        <a class="navbar-brand" href="/"><img src="/static/logo.png" style="max-width: 60%;" alt="The Art Of Laura Garabedian" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/galleries">The Art</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">The Creator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop">Shop and more...</a>
            </li>
            <li class="nav-item ">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
        </ul>
    </div>
</nav>
