<div id="sidebar" class="sidebar">
    <a href="/">
        <div class="media">
            <img src="/static/logo.png" class="mr-2 img-fluid" alt="The Art Of Laura Garabedian" />
        </div>
    </a>
    <div id="side-bar-title">
        The Art Of Laura Garabedian
    </div>
        <div class="nav-link">
            <a href="/gallery">Gallery</a>
        </div>
        <div class="nav-link">
            <a href="/about">About the Artist</a>
        </div>
        <div class="nav-link">
            <a href="https://www.etsy.com/shop/LauraGarabedian">Etsy</a>
        </div>
        <div class="nav-link">
            <a href="/contact">Contact</a>
        </div>
        <div class="d-flex sidebarspacer">
            
        </div>

        <a href="/">
            <div class="d-flex justify-content-center m-4">
                <img src="/static/patron.png" alt="The Art Of Laura Garabedian" />
            </div>
        </a>
</div>