<div id="sidebar" class="col-2 sidebar">
    <a href="/"><div class="media">
        <img src="/static/logo.png" class="mr-2 logo" alt="The Art Of Laura Garabedian" />
    </div>
</a>
    <div id="side-bar-title">
        The Art Of Laura Garabedian
    </div>
    <div class="nav flex-column">
        <div class="nav-link">
            <a href="/gallery">Gallery</a>
        </div>
        <div class="nav-link active">
            <a href="/about">About the Artist</a>
        </div>
        <div class="nav-link">
            <a href="https://www.etsy.com/shop/LauraGarabedian">Etsy</a>
        </div>
        <div class="nav-link">
            <a href="/contact">Contact</a>
        </div>
    </div>
</div>