<div id="sidebar" class="sidebar">
    <a href="/">
        <div class="logo media">
            <img src="/static/logo.png" class="mr-2 img-fluid" alt="The Art Of Laura Garabedian" />
        </div>
    </a>
   
        <div class="media nav-link">
            <a href="/gallery"><img src="/static/art.png" class="mr-2 img-fluid" alt="The Art" /></a>
        </div>
        <div class="media nav-link">
            <a href="/about"><img src="/static/artist.png" class="mr-2 img-fluid" alt="The Creator" /></a>
        </div>
        <div class="media nav-link">
            <a href="https://www.etsy.com/shop/LauraGarabedian"><img src="/static/shop.png" class="mr-2 img-fluid" alt="Shop and more..." /></a>
        </div>
        <div class="media nav-link">
                <a href="/contact"><img src="/static/contact.png" class="mr-2 img-fluid" alt="Contact" /></a>
        </div>
        <!--
        <div class="media nav-link">
                <a href="/faq"><img src="/static/faq.png" class="mr-2 img-fluid" alt="FAQ" /></a>
        </div>
    -->
        <div class="d-flex sidebarspacer"></div>
        <div class="d-flex justify-content-center flex-row">
            <a href="https://www.instagram.com/lauragarabedian/">
                <img class="social-media-icons" src="/static/insta.svg" alt="Instagram" />
            </a>
            <a href="https://www.facebook.com/Laura.W.Garabedian">
                <img class="social-media-icons" src="/static/fb.svg" alt="Facebook" />
            </a>
            <a href="https://twitter.com/lauragarabedian">
                <img class="social-media-icons" src="/static/twitter.svg" alt="Twitter" />
            </a>
        </div>
        <div class="d-flex justify-content-center m-4">
            <a href="https://www.patreon.com/bePatron?u=109572">
                <img src="/static/patron.png" alt="Patreon" />
            </a>
        </div>
</div>