---
# this is an empty front matter
---
{% include header.html %}

                <h2>About The Artist</h2>
                <hr />

                Laura Garabedian was the kid in elementary school who drew on everything. While also a very engaged student, her only detentions
                arose from drawing horses on her math tests (after the work was complete mind you). She was lucky enough
                to grow up in a family who was supportive of her artistic inclinations, if rather concerned about the long
                term viability of such an endeavor.
                <br/>
                <br/> After graduating from Texas A&amp;M University – Commerce, with a degree in Illustration, Laura went through
                a brief stint as a creative director for small companies. When the whims of fate launched her out on her
                own she took it as a sign to do what she had always dreamed of, create art for a living.
                <br/>
                <br/> Since starting out on this adventure, Laura has come to truly appreciate the love and dedication it takes
                to be an artist. Traveling to various conventions, interacting with amazing people, and getting a chance
                to bring to life anything from hookah smoking foxes, pet portraits, life in Afghanistan, to even turning
                children’s rooms into groves of flighty forest creatures; has taught Laura about the diversity an artist
                can experience.
                <br/>
                <br/> Currently living in Colorado, the state she truly loves, she takes the chance to travel whenever possible,
                loving the ability that this career grants her to enjoy all of the pursuits this world has to offer. When
                she isn’t painting she tends to be out, rock climbing or hiking with her friends and her dog (a llama – afghan
                cross), and horseback riding. These activities help keep her a happy artist, striving to constantly experience
                anything and everything life throws in her direction.
                <br/>
                <br/>
{% include footer.html %}
