{% extends "base.html" %}
{% block content %}
<div class="row d-flex justify-content-center" style="max-width: 90vw; margin-bottom: 1rem;">
    <img style="max-width: 100%;" src="/shop_header.png"/>
</div>
<div class="d-none d-md-block">
    <div class="row d-flex justify-content-center shop_row">
        <a href="https://www.patreon.com/LauraGarabedian">
            <img src="/patreon_banner.jpg" class="shop_img" />
        </a>
    </div>
    <div class="row d-flex justify-content-center shop_row">
        <a href="https://www.etsy.com/shop/LauraGarabedian">
            <img src="/etsy_banner.jpg" class="shop_img" />
        </a>
    </div>
    <div class="row d-flex justify-content-center shop_row">
        <a href="https://www.redbubble.com/people/lauragarabedian/">
            <img src="/redbubble_banner.jpg" class="shop_img" />
        </a>
    </div>
</div>
<div class="d-md-none">
    <div class="row shop_row">
            <div class="col">
        <a href="https://www.patreon.com/LauraGarabedian">
            <img src="/patreon_banner_mobile.jpg" class="shop_img" />
        </a>
        </div>
    </div>
    <div class="row shop_row">
        <div class="col">
            <a href="https://www.etsy.com/shop/LauraGarabedian">
                <img src="/etsy_banner_mobile.jpg" class="shop_img" />
            </a>
        </div>
    </div>
    <div class="row shop_row">
            <div class="col">
        <a href="https://www.redbubble.com/people/lauragarabedian/">
            <img src="/redbubble_banner_mobile.jpg" class="shop_img" />
        </a>
        </div>
    </div>
</div>
{% endblock content %}