---
layout: page
---
{% include header.html %}
<h2><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h2>
<hr />
{% for image in page.images %}
    {% assign value = forloop.index | modulo:3 %}
    {% if value == 1 or forloop.first %}
    <div class="row">
    {% endif %}
    <div class="col-md gallery-image">
        <a name="{{ image.name }}"></a>
        <a href="{{ image.name }}">
            <img class="img-fluid" src="thumbs/{{ image.name }}" />
        </a>
    </div>
    {% if value == 0 or forloop.last %}
    </div>
    {% endif %}
{% endfor %}
{% include footer.html %}
