---
layout: page
---
{% include header.html %}
<div class="d-none d-md-block">
    <div>
    {% for gallery in page.galleries reversed %}
        {% if gallery.hidden != true %}
        <div class="row">
            <a href="{{ gallery['gallery'] }}">
                <img class="gallery-best-image img-fluid" src="/static/covers/{{ gallery['best_image'] }}">
            </a>
        </div>
	{% endif %}
    {% endfor %}
    </div>
</div>

<div class="d-md-none">
{% for gallery in page.galleries reversed %}
    <div class="row">
        <div class="col">
            <a href="{{ gallery['gallery'] }}">
                <img class="gallery-best-image img-fluid" src="/static/covers/mobile/{{ gallery['best_image'] }}">
            </a>
        </div>
    </div>
{% endfor %}
</div>

{% include footer.html %}
